body.postid-7317 {

  .entry-summary {

    p.price,
    form.cart {

      display: none !important;
    }
  }

  .wdgk_donation_content {

    margin: 0 auto;
    text-align: center;

    .wdgk_display_option {

      .wdgk_donation {

        margin-bottom: 0 !important;
      }
    }
  }
}