.shortcode-poeticsoft-gallery {

  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: 20px;

  .galleryview {

    padding: 0 0 100% 0;
    background-color: var(--ast-global-color-1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 2px 0;
  }

  .carousel.flickitygallery {

    .flickity-viewport {

      .flickity-slider {

        .carousel-cell {

          height: 70px;
          margin: 0 0 0 2px;

          img {

            height: 100%;
          }
        }
      }
    }
  }
}